
    <main class="text-center  m-3">
        <div class="navbar navbar-expand-lg ">
            <div><h4>Stock de Productos</h4></div>
            
        </div>

        <div>

            <div class="d-block d-lg-flex justify-content-between">
                
                <button type="button" data-funcion="crearProducto.html" class="btn btn-primary">
                    Crear Registro
                </button>
                <div class="d-flex align-items-center">
                    
                    <button class="btn">Otros Filtros</button>
                    <input class="form-control" type="select">
                    <button class="btn"  name="" id="">Search</button>
                </div>
            </div>
            <div style="overflow-x: scroll;">
                <table id="tabla-admin" class="table my-3" >
                    <thead class="cabecera">
                        
                    </thead>

                    <tbody class="cuerpo">

                       
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Creacion de ...</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>                            
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>                        
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Crear</button>
                </div>
              </div>
            </div>
          </div>



          <!--  -->


          <div class="modal fade" id="actualizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Actualizacion de ...</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>                            
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Otro form</label>
                        <input class="form-control" type="text">
                    </div>                        
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Crear</button>
                </div>
              </div>
            </div>
          </div>
    </main>

