<div style="overflow-x: scroll;">
    <table class="table my-3" >
        <thead>
            <th>Documento</th>
            <th>Contacto Proveedor</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Acciones</th>

        </thead>

        <tbody>

            <tr>
                <td>2345657</td>
                <td>Juan G</td>
                <td>234567</td>
                <td>Cl34 # 78-95</td>
                <td>juan@gmail.com</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">
                Actualizar                                    </button>
            </td>
                <td><button class="btn btn-danger">Borrar</button></td>
            </tr>
            <tr>
                <td>2345657</td>
                <td>Juan G</td>
                <td>234567</td>
                <td>Cl34 # 78-95</td>
                <td>juan@gmail.com</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">
                    Actualizar 
                </button></td>
                <td><button class="btn btn-danger">Borrar</button></td>
            </tr>
            <tr>
                <td>2345657</td>
                <td>Juan G</td>
                <td>234567</td>
                <td>Cl34 # 78-95</td>
                <td>juan@gmail.com</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">
                    Actualizar
                </button></td>
                <td><button class="btn btn-danger">Borrar</button></td>
            </tr>
        </tbody>
    </table>
</div>